body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  background-color: #F4F6F9;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
  margin: auto;
}

@media (min-width: 365px) {

body {
  padding-inline-start: 5rem;
  padding-block-start: 2rem;
}

}
