@font-face {
  font-family: 'Latodaniel';
  src: local("Lato-Regular"), local("Lato Regular");
  src: url("../fonts/lato-regular.woff2") format("woff2");
  src: url("../fonts/lato-regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'Latodaniel';
  src: local("Lato-Bold"), local("Lato Bold");
  src: url("../fonts/lato-bold.woff2");
  src: url("../fonts/lato-bold.woff");
  font-weight: 700; }

body {
  font-family: "Latodaniel", Arial, Helvetica, sans-serif;
  margin-left: 2rem;
  margin-right: 2rem;
  margin: auto;
  text-align: center;
  font-size: 14px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 24px;
  color: #333333; }

p {
  line-height: 20px; }

a,
h2 {
  line-height: 30px; }

a {
  text-decoration: none; }

@media (min-width: 300px) {
  body {
    font-size: 18px; }
  h2 {
    font-size: 32px; }
  p {
    line-height: 23px; }
  a,
  h2 {
    line-height: 48px; } }

@media (min-width: 1114px) {
  body {
    margin: auto; }
  .feature-container,
  .feature__partenaire-container,
  .footer-container {
    margin: auto;
    max-width: 1440px; } }

.masthead {
  display: flex;
  background-color: #F4F6F9;
  place-content: center;
  padding-left: 10px;
  padding-right: 10px; }

.masthead__section {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 59px; }

.masthead__section--link {
  background-image: url("../img/logo_sports_colour.svg");
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;
  width: calc(186px / 2);
  background-size: contain;
  margin: auto; }

.masthead__section--header {
  color: #333333;
  text-align: center; }

.masthead__section--paragraph {
  color: #4F4F4F;
  font-weight: 400;
  text-align: center; }

.masthead__section--list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc(28px / 2);
  padding: 0;
  margin-block-start: 50px; }

@media (min-width: 300px) {
  .masthead {
    padding-left: 20px;
    padding-right: 20px; }
  .masthead__section--link {
    width: 186px; }
  .masthead__section--list {
    gap: 28px;
    width: max-content;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1114px) {
  .masthead {
    display: block;
    background-image: url("../img/bg_header.png");
    background-position: calc(50vw - 11px) 100%;
    background-repeat: no-repeat;
    padding-top: 61px;
    padding-bottom: 164px; }
  .masthead__section--link {
    width: 92px; }
  .masthead__container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1114px; }
  .masthead__section {
    align-items: self-start;
    max-width: 547px;
    margin: 0;
    padding: 0; }
  .masthead__section--header {
    font-size: 36px;
    text-align: start; }
  .masthead__section--paragraph {
    font-size: 18px;
    font-weight: 400;
    text-align: start; }
  .masthead__section--list {
    padding: 0;
    display: flex;
    gap: 35px; } }

.link_app-store {
  background-image: url("../img/apple_store.svg");
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link_google-play,
.link_app-store {
  width: calc(145px / 2);
  background-size: contain;
  margin: auto; }

.link_google-play {
  background-image: url("../img/google_play.svg");
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.feature_article__list-item-notification {
  position: relative; }

.notifications {
  background-image: url("../img/icon_bell_ringing_blue.svg"); }

.all-videos {
  background-image: url("../img/icon_video_blue.svg"); }

.new-videos {
  background-image: url("../img/icon_hd_blue.svg"); }

.pages {
  background-image: url("../img/icon_flag_blue.svg"); }

.pictures {
  background-image: url("../img/icon_tent_blue.svg"); }

.update-leagues {
  background-image: url("../img/icon_graph_blue.svg"); }

.notifications,
.all-videos,
.new-videos,
.pages,
.pictures,
.update-leagues {
  background-position: 50% 0;
  background-size: 2.5rem;
  background-repeat: no-repeat; }

.sport-tv_icon {
  background-image: url("../img/logo_sports_tv.svg");
  width: calc(149px / 2);
  height: calc(52px / 2); }

.sports-black_icon {
  grid-row: 1;
  grid-column: 2;
  background-image: url("../img/logo_sports_channel.svg");
  width: calc(102px / 2);
  height: calc(32px / 2); }

.nbc-sports_icon {
  background-image: url("../img/logo_nbc_sports.svg");
  width: calc(69px / 2);
  height: calc(58px / 2); }

.designer-technology_icon {
  background-image: url("../img/logo_designer_technology.svg");
  width: calc(110px / 2);
  height: calc(32px / 2); }

.logo_designer_new_icon {
  background-image: url("../img/logo_designer_news.svg");
  width: calc(48px / 2);
  height: calc(48px / 2); }

.sky-sports_icon {
  background-image: url("../img/logo_sky_sports.svg");
  width: calc(210px / 2);
  height: calc(34px / 2); }

.sport-tv_icon,
.sports-black_icon,
.nbc-sports_icon,
.designer-technology_icon,
.logo_designer_new_icon,
.sky-sports_icon {
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.sports-logo {
  margin: 0; }

footer .sports-logo_icon {
  background-image: url("../img/logo_sports_white.svg"); }

footer .sports-logo_icon,
.icon_twitter,
.icon_facebook,
.icon_instagram {
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.icon_twitter,
.icon_facebook,
.icon_instagram {
  width: 2rem;
  height: 2rem; }

.icon_twitter {
  background-image: url("../img/icon_twitter.svg"); }

.icon_facebook {
  background-image: url("../img/icon_facebook.svg"); }

.icon_instagram {
  background-image: url("../img/icon_instagram.svg"); }

@media (min-width: 300px) {
  .link_google-play,
  .link_app-store {
    width: 145px;
    margin: auto; }
  .sport-tv_icon {
    width: 149px;
    height: 52px; }
  .sports-black_icon {
    width: 102px;
    height: 32px; }
  .nbc-sports_icon {
    width: 69px;
    height: 58px; }
  .designer-technology_icon {
    width: 110px;
    height: 32px; }
  .logo_designer_new_icon {
    width: 48px;
    height: 48px; }
  .sky-sports_icon {
    width: 210px;
    height: 34px; } }

@media (min-width: 1114px) {
  .masthead__section--link-homepage_logo {
    width: 92px;
    height: 32px; }
  .google-play_logo,
  .app-store_logo {
    width: 156.05px;
    height: 47px; }
  .google-play_logo {
    padding-inline-start: 1rem;
    padding-inline-end: 0; }
  .app-store_logo {
    padding-inline-start: 0; }
  .feature_article__list-item-notification {
    position: relative; }
  .notifications {
    background-image: url("../img/icon_bell_ringing_white.svg"); }
  .all-videos {
    background-image: url("../img/icon_video_white.svg"); }
  .new-videos {
    background-image: url("../img/icon_hd_white.svg"); }
  .pages {
    background-image: url("../img/icon_flag_white.svg"); }
  .pictures {
    background-image: url("../img/icon_tent_white.svg"); }
  .update-leagues {
    background-image: url("../img/icon_graph_white.svg"); }
  .notifications,
  .all-videos,
  .new-videos,
  .pages,
  .pictures,
  .update-leagues {
    background-position: left 0;
    background-size: 40px;
    background-repeat: no-repeat; } }

.section_more-information {
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 600px;
  background-image: url("../img/bg_friendly_user_interface-small.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding-left: 20px;
  padding-right: 20px; }

.section_more-information a {
  color: #00ADEE; }

.section_more-information--heading {
  text-transform: uppercase; }

.more-information__link {
  font-weight: 700; }

.phone-image {
  max-width: 100%; }

@media (min-width: 1114px) {
  .section_more-information {
    background-image: url("../img/bg_friendly_user_interface.png");
    background-position: calc(50% + 330px) 50%;
    background-repeat: no-repeat;
    padding-top: 217px;
    padding-bottom: 171px; }
  .use-interface__container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1114px; }
  .user-interface {
    text-align: start;
    max-width: 547px;
    margin: 0; } }

.section_feature {
  background-color: #F4F6F9;
  padding-top: 45px;
  padding-bottom: 58px;
  margin-right: auto;
  margin-left: auto; }

.feature_article_heading {
  color: #333333; }

.feature_article__list-item {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 2rem; }

.feature_article__list-item a {
  color: #4F4F4F; }

@media (min-width: 1114px) {
  .section_feature {
    background-image: url("../img/background_blue_rectangles.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    background-color: #00ADEE;
    color: #FFFFFF;
    padding-top: 76px;
    padding-bottom: 67px;
    padding-left: 166px;
    padding-right: 164px; }
  .feature_article__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 90px;
    text-align: start;
    list-style: inside; }
  .feature_article_heading {
    margin-bottom: 54px; }
  .feature_article_heading,
  .feature_article__list-item a {
    color: #FFFFFF; } }

.section__feature-partenaire {
  background-color: #F4F6F9;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 58px; }

.feature-partenaire__list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.feature-partenaire__list-item {
  text-align: center;
  margin: auto; }

.feature-partenaire__list-item a {
  margin: auto; }

.feature-partenaire__list-item:nth-of-type(1),
.feature-partenaire__list-item:nth-of-type(2) {
  flex-basis: 50%; }

.feature-partenaire__list-item:nth-of-type(3),
.feature-partenaire__list-item:nth-of-type(4),
.feature-partenaire__list-item:nth-of-type(5) {
  flex-basis: calc(100% / 3); }

.feature-partenaire__list-item:nth-of-type(6) {
  flex-basis: 100%; }

@media (min-width: 1114px) {
  .feature-partenaire__list {
    display: flex;
    justify-content: space-around; }
  .section__feature-partenaire {
    padding-top: 57px;
    padding-bottom: 68px; }
  .feature-partenaire__list ul {
    flex-wrap: nowrap;
    flex-basis: 100%; } }

footer {
  background-color: #00ADEE;
  margin: 0;
  margin-inline-end: auto;
  margin-inline-start: auto;
  padding-inline-start: 19px;
  padding-inline-end: 19px;
  padding-block-start: 41px;
  padding-block-end: 45px; }

.sports-logo_icon,
.social_media-link {
  margin: auto; }

.a11y_link {
  color: #FFFFFF; }

.social-media_list,
.a11y_list {
  display: flex; }

.social-media_list {
  flex-wrap: wrap; }

.a11y_list {
  justify-content: space-between;
  flex-wrap: wrap; }

.social-media_list > li,
.a11y_list > li {
  padding: 0.5rem; }

@media (min-width: 1114px) {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block-start: 47px;
    padding-block-end: 48px; }
  footer .sports-logo {
    width: 84px; }
  .a11y_list {
    order: 2; }
  .social-media_list {
    order: 3; } }
