.masthead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.masthead__header {
  font-size: 30px;
  color: #333333;
  text-align: center;
}

.masthead__paragraph {
  color: #4F4F4F;
  font-weight: 400;
  text-align: center;
}

.masthead__list {
  padding: 0;
  list-style: none;
  display: flex;
}
