.masthead__title {
  /* background-image: url("../img/logo_sports_colour.svg");
  text-indent: -9999px;
  background-repeat: no-repeat; */
}

/* .link_app-store {
  background-image: url("../img/apple_store.svg");
}

.link_google-play {
  background-image: url("../img/google_play.svg");
} */

/* .link_app-store,
.link_google-play {
  background-repeat: no-repeat;
  text-indent: -9999px;
} */

/* .masthead__list {
  display: flex;
  justify-content: space-between;
} */

.masthead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.masthead__link--homepage-logo {
  width: 186px;
  height: 70px;
}

.google-play_logo,
.app-store_logo {
  width:145.69px;
  height: 44px;
}

.masthead__header {
  font-size: 30px;
  color: #333333;
  text-align: center;
}

.masthead__paragraph {
  color: #4F4F4F;
  font-weight: 400;
  text-align: center;
}

.masthead__list {
  padding: 0;
  list-style: none;
  display: flex;
}
