.section_more-information {
  background-color: #FFFFFF;
  text-align: center; }

.section_more-information a {
  color: #00ADEE; }

.section_more-information--heading {
  text-transform: uppercase; }

.more-information__link {
  font-weight: 700; }

.feature_article__picture {
  position: relative; }

.phone-image {
  position: absolute;
  bottom: 520%;
  right: 12%; }
