@import "./variable";

:root {
    --margin-inline: 2rem;
    --margin-block: 2rem;
  }

  body {
    font-family: 'Latodaniel', Arial, Helvetica, sans-serif;
    background-color: #F4F6F9;
    margin-inline-start: var(--margin-inline);
    margin-inline-end: var(--margin-inline);
    margin: auto;
  }

  ul {
    @include reset-list(none, 0, 0);
  }

  @media (min-width: $break-point-desktop) {
  body {
    margin: auto;
    }
  }
