@import "variable";
@import "mixin";
body {
  font-family: "Latodaniel", Arial, Helvetica, sans-serif;
  margin-left: $margin;
  margin-right: $margin;
  margin: auto;
  text-align: center;
  font-size: 14px;
  max-width: 1440px;
  // padding-inline-end: 10px;
  // padding-inline-start: 10px;
}

ul {
  @include reset-list;
}

h2 {
  font-size: 24px;
  color: $color-heading;
}

p {
  line-height: 20px;
}

a,
h2 {
  line-height: 30px;
}

a {
  text-decoration: none;
}

@media (min-width: 300px) {
  body {
    font-size: 18px;
    // padding-inline-end: 20px;
    // padding-inline-start: 20px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    line-height: 23px;
  }

  a,
  h2 {
    line-height: 48px;
  }
}

@media (min-width: $break-point-desktop) {
  body {
    margin: auto;
  }

  .feature-container,
  .feature__partenaire-container,
  .footer-container {
    margin: auto;
    max-width: 1440px;
  }
}
