@import "variable";
@import "mixin";
  body {
    font-family: 'Latodaniel', Arial, Helvetica, sans-serif;
    margin-inline-start: $margin;
    margin-inline-end: $margin;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }

  ul {
    @include reset-list;
  }

  h2 {
    font-size: 32px;
    color: $color-heading;
  }

  p {
    line-height: 23px;
  }

  a,
  h2 {
    line-height: 48px;
  }


  a {
    text-decoration: none;
  }

  @media (min-width: $break-point-desktop) {
  body {
      margin: auto;
    }
  }
