@import "variable";

@font-face {
  font-family: 'Latodaniel';
  src: local("Lato-Regular"), local("Lato Regular");
  src: url("#{$lato-font-path}/#{$font-regular}.woff2") format("woff2");
  src: url("#{$lato-font-path}/#{$font-regular}.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Latodaniel';
  src: local("Lato-Bold"), local("Lato Bold");
  src: url("#{$lato-font-path}/#{$font-bold}.woff2");
  src: url("#{$lato-font-path}/#{$font-bold}.woff");
  font-weight: 700;
};
