@import "./variable.scss";
@import "mixin";

footer {
  background-color:  $sky-blue;
  margin: 0;
  margin-inline-end: auto;
  margin-inline-start: auto;
  padding-inline-start: 19px;
  padding-inline-end: 19px;
  padding-block-start: 41px;
  padding-block-end: 45px;
}

.sports-logo_icon,
.social_media-link {
  margin: auto;
}

.a11y_link {
  color: #FFFFFF;
}

.social-media_list,
.a11y_list {
  display: flex;
}

.social-media_list {
  flex-wrap: wrap;
}

.a11y_list {
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-media_list > li,
.a11y_list > li {
  padding: $padding / 4;
 }

 @media (min-width: $break-point-desktop) {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block-start: 47px;
    padding-block-end: 48px;
  }

  footer .sports-logo {
    width: 84px;
  }

  .a11y_list {
    order: 2;
  }

  .social-media_list {
    order: 3;
  }
}
