@import "variable";

.masthead__section--link-homepage_logo {
    width: 186px;
    height: 70px;
}

  .google-play_logo,
  .app-store_logo {
    width:145.69px;
    height: 44px;
    padding-inline-start: calc(var(--padding-inline) / 2);
    padding-inline-end: calc(var(--padding-inline) / 2);
  }

@media (min-width: $break-point-desktop) {
  .masthead__section--link-homepage_logo {
    width: 92px;
    height: 32px;
  }

  .google-play_logo,
  .app-store_logo {
    width: 156.05px;
    height: 47px;
  }

  .google-play_logo {
    padding-inline-start: calc(var(--padding-inline) / 2);
    padding-inline-end: 0;
  }

  .app-store_logo {
    padding-inline-start: 0;
  }
}
