@import "./variable.scss";

.masthead {
  display: flex;
  background-color: $common-background-color;
  place-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.masthead__section {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 59px;
}

.masthead__section--link {
  background-image: url("#{$icon-path}logo_sports_colour.svg");
  @include icon-property;
  width: calc(186px / 2);
  background-size: contain;
  margin: auto;
}

.masthead__section--header {
  color: $color-heading;
  text-align: center;
}

.masthead__section--paragraph {
  color: $color-header-section;
  font-weight: 400;
  text-align: center;
}

.masthead__section--list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
  margin-block-start: 50px;
}

@media (min-width: 300px) {
  .masthead {
    padding-left: 20px;
    padding-right: 20px;
  }

  .masthead__section--link {
    width: 186px;
  }
}

@media (min-width: $break-point-desktop) {
  .masthead {
    display: block;
    background-image: url("../img/bg_header.png");
    background-position: calc(50vw - 11px) 100%;
    background-repeat: no-repeat;
    padding-top: 61px;
    padding-bottom: 164px;
  }

  .masthead__section--link {
    width: 92px;
  }

  .masthead__container {
    margin-right: auto;
    margin-left: auto;
    max-width: $break-point-desktop;
  }

  .masthead__section {
    align-items: self-start;
    max-width: 547px;
    margin: 0;
    padding: 0;
  }

  .masthead__section--header {
    font-size: 36px;
    text-align: start;
  }

  .masthead__section--paragraph {
    font-size: 18px;
    font-weight: 400;
    text-align: start;
  }

  .masthead__section--list {
    padding: 0;
    display: flex;
  }

  .item-list_app-store {
    padding-inline-end: calc(35px / 2);
  }

  .item-list_google-play {
    padding-inline-start: calc(35px / 2);
  }
}
