@import "./variable.scss";

.masthead {
    display: flex;
    background-color: $common-background-color;
  }

  .masthead__container {
  }

  .masthead__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-block-start: $padding;
    padding-block-end: $padding;
    padding-inline-start: $padding;
    padding-inline-end: $padding;
  }

  img[alt="phones"] {
    display: none;
  }

  .masthead__section--header {
    color: $color-heading;
    text-align: center;
  }

  .masthead__section--paragraph {
    color: $color-header-section;
    font-weight: 400;
    text-align: center;
  }

  .masthead__section--list {
    padding: 0;
    display: flex;
  }

@media (min-width: $break-point-desktop) {
  .masthead {
    background-image: url("../img/bg_header.png");
    background-position: calc(50vw - 11px) 100%;
    background-repeat: no-repeat;
    padding-block-start: $padding * 2;
    padding-block-end: $padding * 2;
  }

  .masthead__container {
    margin-inline-end: auto;
    max-width: $break-point-desktop;
  }

  .masthead__section {
    align-items: self-start;
    max-width: 547px;
  }

  .masthead__section--header {
    font-size: 36px;
    text-align: start;
  }

  .masthead__section--paragraph {
    font-size: 18px;
    font-weight: 400;
    text-align: start;
  }

  .masthead__section--list {
    padding: 0;
    display: flex;
  }

  .masthead__section--list,
  .masthead__section--header
   {
    padding-block-start: $padding;
    padding-block-end: $padding;
  }

  img[alt="phones"] {
    display: block;
}

}
