@import "./variable.scss";
@import "mixin";

.section__feature-partenaire {
  background-color: $common-background-color;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 58px;
}

.feature-partenaire__list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.feature-partenaire__list-item {
  text-align: center;
  margin: auto;
}

.feature-partenaire__list-item a {
  margin: auto;
}


.feature-partenaire__list-item:nth-of-type(1),
.feature-partenaire__list-item:nth-of-type(2) {
  flex-basis: 50%;
}

.feature-partenaire__list-item:nth-of-type(3),
.feature-partenaire__list-item:nth-of-type(4),
.feature-partenaire__list-item:nth-of-type(5) {
  flex-basis: calc(100% / 3);
}

.feature-partenaire__list-item:nth-of-type(6) {
  flex-basis: 100%;
}

@media (min-width: $break-point-desktop) {
  .feature-partenaire__list {
    display: flex;
    justify-content: space-around;
  }

  .section__feature-partenaire {
    padding-top: 57px;
    padding-bottom: 68px;
  }

  .feature-partenaire__list ul {
    flex-wrap: nowrap;
    flex-basis: 100%;
  }
}
