@import "./variable.scss";

.section_more-information {
    background-color: #FFFFFF;
    text-align: center;
    padding-block-start: $padding;
    padding-block-end: $padding;
  }

.section_more-information a
  {
    color: $sky-blue;
  }

.section_more-information--heading {
    text-transform: uppercase;
  }

.more-information__link {
    font-weight: 700;
  }

.feature_article__picture {
  position: relative;
}

.phone-image {
    position: absolute;
    bottom: 520%;
    right: 12%;
 }

