@import "./variable.scss";
@import "mixin";

.section_feature {
  background-color: $common-background-color;
  padding-block-start: 45px;
  padding-block-end: 58px;
  margin-inline-end: auto;
  margin-inline-start: auto;
}

.feature_article_heading {
  color: $color-heading;
}

.feature_article__list-item {
  margin: 0;
  padding-block-start: ($padding * 6) / 4;
  padding-block-end: $padding;
}

.feature_article__list-item a {
  color: $color-header-section;
}
@media (min-width: $break-point-desktop) {
  .section_feature {
    background-image: url("#{$image-path}background_blue_rectangles.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $sky-blue;
    color: #FFFFFF;
    padding-block-start: 76px;
    padding-block-end: 67px;
    padding-inline-start: 166px;
    padding-inline-end: 164px;
  }

  .feature_article__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 90px;
    text-align: start;
    list-style: inside;
  }

  .feature_article_heading {
    margin-block-start: 76px;
    margin-block-end: 54px;
  }

  .feature_article_heading,
  .feature_article__list-item a {
    color: #FFFFFF;
  }
}
