@import "./variable.scss";
@import "mixin";

$phone-mockup-height: 600px;

.section_more-information {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 55px;
    padding-bottom: $phone-mockup-height;
    background-image: url("#{$image-path}bg_friendly_user_interface-small.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

.section_more-information a
  {
    color: $sky-blue;
  }

.section_more-information--heading {
    text-transform: uppercase;
  }

.more-information__link {
    font-weight: 700;
  }

  .phone-image {
    max-width: 100%;
  }

@media (min-width: $break-point-desktop) {
.section_more-information {
  background-image: url("#{$image-path}bg_friendly_user_interface.png");
  background-position: calc(50% + 330px) 50%;
  background-repeat: no-repeat;
  padding-top: 217px;
  padding-bottom: 171px;
}

.use-interface__container {
  margin-right: auto;
  margin-left: auto;
  max-width: $break-point-desktop;
}

.user-interface {
  text-align: start;
  max-width: 547px;
  margin: 0;
}

}
