@import "./variable.scss";
@import "mixin";

$phone-mockup-height: 600px;

.section_more-information {
    background-color: #FFFFFF;
    text-align: center;
    padding-block-start: $padding;
    padding-block-end: $phone-mockup-height;
    background-image: url("#{$image-path}bg_friendly_user_interface-small.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

.section_more-information a
  {
    color: $sky-blue;
  }

.section_more-information--heading {
    text-transform: uppercase;
  }

.more-information__link {
    font-weight: 700;
  }

  .phone-image {
    max-width: 100%;
  }

// .feature_article__picture {
//   position: relative;
// }

// .phone-image {
//     position: absolute;
//     bottom: 520%;
//     right: 12%;
//  }
@media (min-width: $break-point-desktop) {
.section_more-information {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-block-start: $padding * 2;
  padding-block-end: $padding * 2;
}

.use-interface__container {
  margin-inline-end: auto;
  max-width: $break-point-desktop;
}

.user-interface {
  align-items: self-start;
  max-width: 547px;
  margin: 0;
}

}
