@import "./variable.scss";
@import "mixin";

.section__feature-partenaire {
  background-color: $common-background-color;
  margin: 0;
  padding-block-start: $padding;
  padding-block-end: $padding;
}

.feature-partenaire__list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block-start: $padding / 2;
  padding-block-end: $padding / 2;
}

