// Header color
$color-heading: #333333;
$color-header-section:  #4F4F4F;

//Section more information color
$sky-blue: #00ADEE;

$padding: 2rem;
$margin: 2rem;

// Font properties
$lato-font-path: "../fonts";
$font-bold: "lato-bold";
$font-regular: "lato-regular";

// Media query for desktop
$break-point-desktop: 1114px;
