// Header color
$color-heading: #333333;
$color-header-section:  #4F4F4F;

//Section more information color
$sky-blue: #00ADEE;

// Background color.

$common-background-color: #F4F6F9;

$padding: 2rem;
$margin: 2rem;

// Font properties
$lato-font-path: "../fonts";
$font-bold: "lato-bold";
$font-regular: "lato-regular";

// Media query for desktop
$break-point-desktop: 1114px;

// Icon, image.
$icon-path: "../img/";
$image-path: "../img/";
