  :root {
    --padding-inline: 2rem;
    --padding-block: 2rem;
    --margin-inline: 2rem;
    --margin-block: 2rem;
  }

  body {
    font-family: 'Latodaniel', Arial, Helvetica, sans-serif;
    background-color: #F4F6F9;
    margin-inline-start: var(--margin-inline);
    margin-inline-end: var(--margin-inline);
    margin: auto;
  }

  ul {
    list-style: none;
  }

  @media (min-width: 1000px) {
  body {
    margin: auto;
      /* display: grid;
      grid-template-columns: 60% 40%;
      background-image: url("../img/bg_header.png");
      background-position: 130% 70%;
      background-size: 60%;
      background-repeat: no-repeat; */
      /* padding-inline-start: calc(var(--padding-inline) * 2);
      padding-inline-end: calc(var(--padding-inline) * 2); */
    }
  }
