@font-face {
  font-family: 'Latodaniel';
  src: local("Lato-Regular"), local("Lato Regular");
  src: url("../fonts/lato-regular.woff2") format("woff2");
  src: url("../fonts/lato-regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'Latodaniel';
  src: local("Lato-Bold"), local("Lato Bold");
  src: url("../fonts/lato-bold.woff2");
  src: url("../fonts/lato-bold.woff");
  font-weight: 700; }

body {
  font-family: 'Latodaniel', Arial, Helvetica, sans-serif;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  margin: auto;
  line-height: 1.5;
  text-align: center; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

@media (min-width: 1114px) {
  body {
    margin: auto; } }

.masthead {
  display: flex;
  background-color: #F4F6F9; }

.masthead__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem; }

img[alt="phones"] {
  display: none; }

.masthead__section--header {
  font-size: 30px;
  color: #333333;
  text-align: center; }

.masthead__section--paragraph {
  color: #4F4F4F;
  font-weight: 400;
  text-align: center; }

.masthead__section--list {
  padding: 0;
  display: flex; }

@media (min-width: 1114px) {
  .masthead {
    background-image: url("../img/bg_header.png");
    background-position: calc(50vw - 11px) 100%;
    background-repeat: no-repeat;
    padding-block-start: 4rem;
    padding-block-end: 4rem; }
  .masthead__container {
    margin-inline-end: auto;
    max-width: 1114px; }
  .masthead__section {
    align-items: self-start;
    max-width: 547px; }
  .masthead__section--header {
    font-size: 36px;
    text-align: start; }
  .masthead__section--paragraph {
    font-size: 18px;
    font-weight: 400;
    text-align: start; }
  .masthead__section--list {
    padding: 0;
    display: flex; }
  .masthead__section--list,
  .masthead__section--header {
    padding-block-start: 2rem;
    padding-block-end: 2rem; }
  img[alt="phones"] {
    display: block; } }

.masthead__section--link-homepage_logo {
  width: 186px;
  height: 70px; }

.google-play_logo,
.app-store_logo {
  width: 145.69px;
  height: 44px;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem; }

@media (min-width: 1114px) {
  .masthead__section--link-homepage_logo {
    width: 92px;
    height: 32px; }
  .google-play_logo,
  .app-store_logo {
    width: 156.05px;
    height: 47px; }
  .google-play_logo {
    padding-inline-start: 1rem;
    padding-inline-end: 0; }
  .app-store_logo {
    padding-inline-start: 0; } }

.section_more-information {
  background-color: #FFFFFF;
  text-align: center; }

.section_more-information a {
  color: #00ADEE; }

.section_more-information--heading {
  text-transform: uppercase; }

.more-information__link {
  font-weight: 700; }
